* {
  margin: 0;
  padding: 0;
}

#buffer {
  display: none;
}

#logo {
  width: 64px;
  height: auto;
}

.column {
  display: flex;
  flex-direction: column;
}

.centered {
  justify-content: center;
  align-items: center;
}

.full-screen {
  width: 100vw;
  height: 100vh;
}

.match-parent {
  width: 100%;
  height: 100%;
}
