* {
  margin: 0;
  padding: 0;
}

#buffer {
  display: none;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#logo {
  width: 64px;
  height: auto;
}